<!DOCTYPE html>
<html>
  <head>
    <title>DNS LUMU :D</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container-stats">
      <h1 class="mb-3" style="margin-top: 3rem">Analysis Result</h1>
      <div class="card" style="width: 50rem; margin-top: 3rem">
        <div class="card-body">
          <h3 style="color: black">Total records: {{ total_records }}</h2>
        </div>
      </div>

      <div class="card" style="width: 50rem; margin-top: 3rem">
        <div class="card-body">
          <h3 style="color: black">Client IPs Rank</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">IP Address</th>
                <th scope="col">Hits</th>
                <th scope="col">Percentage</th>
              </tr>
            </thead>
            <tbody>
              {% for ip, count, percentage in top_client_ips %}
              <tr>
                <td>{{ ip }}</td>
                <td>{{ count }}</td>
                <td>{{ percentage }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="card" style="width: 50rem; margin-top: 3rem">
        <div class="card-body">
          <h3 style="color: black">Host Rank</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Host</th>
                <th>Hits</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
              {% for host, count, percentage in top_hosts %}
              <tr>
                <td>{{ host }}</td>
                <td>{{ count }}</td>
                <td>{{ percentage }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-group margin-top-10 btn-position">
        <div>
          <button
            id="seeLogsButton"  
            type="button"
            class="form-control btn btn-primary btn-primary-custom"
          >
            See Logs
          </button>
        </div>
        <div class="margin-lft-12px">
          <button
            type="button"
            class="form-control btn btn-primary btn-primary-custom"
            onclick="window.history.back();"
          >
            Back
          </button>
        </div>
      </div>
    </div>
    <footer class="footer-position">
      <div class="footer-title">Built by Ovidio Andrade :D</div>
    </footer>

  </body>
</html>
<script>
    document.getElementById('seeLogsButton').addEventListener('click', function() {
      window.location.href = '/logs';
    });
</script>